* {
    box-sizing: border-box;
}
body {
    margin: 0;
}
.container {
    --width: 100vw;
    --height: 100vh;
}
.row {
    height: 25%;
    font-size: 0;
}
.row div {
    display: inline-block;
    height: 100%;
    --border: 2px solid black;
    font-size: initial;
}
.row-1 {
    --background-color: red;
}
.row-1 div {
    --width: 25%;
}
.borda-lancamentos{
  border-style: double;
}
.img-lancamentos{

    --width: 25%;
    --height: 50%;
}
