body {
	margin: 0;
}
.div-centro {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.div-meio {
    width: 100%;
    background-color: rgba(61, 157, 153, 0.6);
    position: absolute;
    left: 50%;
    bottom: 0.5%;
    transform: translateX(-50%);
}
h1 {
    color: white;
    padding-left: 2%;
    margin: 0;
}
.div-meio:hover> p{
    display: block;    
}
p {
    color: white;
    display: none;
    padding-left: 2%;
}
