@import url('https://fonts.googleapis.com/css?family=Slabo+27px');

*{
    font-family: 'Slabo 27px', serif;
    font-size: 101%;
}
body {
    background-color: #6495ED;
    height:100%;
}

.col-md-9, .col-md-5 {
    padding: 5%;
}

.container {
    margin-top: 1%;
    background: #BEBEBE;
    align-content: center;
    border-color:  #c43e00;
    border-radius: 50px;
}



img {
    width: 50px;
    height: 50px;;
}

.titulo{
  color: #ffffff;
  background-color: #520066;
}


.content {
    display: table;
    margin: 0 auto;
    height: 100%;
}

.area {
    display: table-cell;
    vertical-align: middle;
    height:100%;
}
