<div class="panel panel-default">
<!-- Default panel contents -->
  <div class="panel-heading">Aulas</div>
    <!-- Table -->
  <table class="table">
    <thead>
      <tr>
        <th>ID:</th>
        <th>Nome:</th>
        <th>Alterar</th>
        <th>Excluir</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="aula in aulas | aulaOrderBy">
        <th>{{aula.id }}</th>
        <th>{{aula.nome}}</th>
        <th><button type="submit" class="btn btn-primary" value="{{aula.id}}">Alt</button></th>
        <th><button type="submit" class="btn btn-primary" value="{{aula.id}}">X</button></th>
      </tr>
    </tbody>
  </table>
</div>



  <form class="area" novalidate name="formIncluiAula" ng-submit="incluirAula()">
    <label>Incluir Aula</label>
    <input type="text" name="nomeAula" ng-model="novaAula.nome" required placeholder="Javascript" required ng-minlength="3" ng-maxlength='20' >
    <button class="btn btn-primary" type="submit" name="incluirAula">Incluir</button>
  </form>

  <form class="area" novalidate name="formAlterarNomeAula" ng-submit="alterarAula()">
    <label>Alterar Aula</label>
    <label>ID:</label>
    <select ng-model="selecaoAula.id" id="selectAula">
      <option ng-repeat="aula in aulas" required >{{aula.id}}</option>
    </select>
    <br>
    <label>Novo Nome:</label>
    <input type="text" name="nomeAulaAlterar" ng-model="alterarAula.nome" required placeholder="Javascript" required ng-minlength="3" ng-maxlength='20' >
    <button class="btn btn-primary" type="submit" name="alterarAula">Alterar</button>
  </form>

  <form class="area" novalidate name="formDeletarAula" ng-submit="deletarAula()">
    <label>Deletar Aula</label>
    <input  type="text" name="nomeAulaDeletar" ng-model="deletarAula.nome" required placeholder="Javascript" required ng-minlength="3" ng-maxlength='20' >
    <button class="btn btn-primary" type="submit" name="deletarAula">Deletar</button>
  </form>
